{% extends "base.html" %}
{% block title %}Models{% endblock %}
{% block head %}
    {{ super() }}
    <script data-main="{{ url_for('static', filename='js/main.js') }}" src="{{ url_for('static', filename='js/libs/require.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="main">
        <div class="row" id="loading-row">
            <div class="col-xs-12 text-center">
                <h2>Loading...</h2>
                <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" width="31" height="31"></img>
            </div>
        </div>
    </div>
{% endblock %}

{% block templates %}

<script type="text/template" id="template-info">
<h1><%= name %></h1>
<div>Input Dataset: <a href="/datasets/watersheds/<%= watershed.id %>"><%= watershed.name %></a></div>
<div class="btn-group" style="margin-top:10px;">
    <button class="btn btn-success" id="btn-save"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    <button class="btn btn-primary" id="btn-reset"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
    <button class="btn btn-default" id="btn-dl-input"><span class="glyphicon glyphicon-save"></span> Download Input</button>
    <button class="btn btn-default" id="btn-dl-output"><span class="glyphicon glyphicon-save"></span> Download Output</button>
</div>
</script>

<script type="text/template" id="template-model">

<div class="row" id="loading-row">
    <div class="col-xs-12 text-center">
        <h2>Loading...</h2>
        <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" width="31" height="31"></img>
    </div>
</div>

<div class="row model-row" style="display:none;">
    <div class="col-xs-12" id="model-info">
    </div>
</div>
<hr>
<div class="row model-row" style="display:none;">
    <div class="col-xs-2">
        <div id="params">
        </div>
    </div>
    <div class="col-xs-7">
        <div id="chart-brush">
            <div class="chart"></div>
        </div>
        <div id="chart-ts">
            <div class="chart"></div>
        </div>
        <div id="summary">
        </div>
    </div>
    <div class="col-xs-3">
        <div id="chart-scatter">
            <div class="chart"></div>
        </div>
    </div>
</div>

</script>

<script type="text/template" id="template-summary">
<h4>Summary Table</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">Selected Period</th>
            <th class="text-center">Calibration Period</th>
            <th class="text-center">Period of Record</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-right">Start</th>
            <th class="text-center"><span id="extent-start"></span></th>
            <th class="text-center"><span id="calib-start"></span></th>
            <th class="text-center"><span id="dataset-start"></span></th>
        </tr>
        <tr>
            <th class="text-right">End</th>
            <th class="text-center"><span id="extent-end"></span></th>
            <th class="text-center"><span id="calib-end"></span></th>
            <th class="text-center"><span id="dataset-end"></span></th>
        </tr>
        <tr>
            <th class="text-right">No. Days</th>
            <th class="text-center"><span id="extent-count"></span></th>
            <th class="text-center"><span id="calib-count"></span></th>
            <th class="text-center"><span id="dataset-count"></span></th>
        </tr>
        <tr>
            <th class="text-right">RMSE</th>
            <th class="text-center"><span id="extent-rmse"></span></th>
            <th class="text-center"><span id="calib-rmse"></span></th>
            <th class="text-center"><span id="dataset-rmse"></span></th>
        </tr>
        <tr>
            <th class="text-right">% Bias</th>
            <th class="text-center"><span id="extent-bias"></span></th>
            <th class="text-center"><span id="calib-bias"></span></th>
            <th class="text-center"><span id="dataset-bias"></span></th>
        </tr>
    </tbody>
</table>
<p><i>Note</i>: statistics computed from log<sub>10</sub> transform</p>
</script>

<script type="text/template" id="template-parameters">
<dl>
    <dt>Initial Soil Moisture: <span id="param_S0"></span></dt>
    <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="param_S0"/></dd>

    <dt>Initial Groundwater: <span id="param_G0"></span></dt>
    <dd><input class="slider" type="range" min="0" max="5" step="0.1" value="2" name="param_G0"/></dd>

    <dt>a: <span id="param_a"></span></dt>
    <dd><input class="slider" type="range" min="0.98" max="1" step="0.0001" value="1" name="param_a" /></dd>

    <dt>b: <span id="param_b"></span></dt>
    <dd><input class="slider" type="range" min="1" max="10" step="0.1" value="5" name="param_b" /></dd>

    <dt>c: <span id="param_c"></span></dt>
    <dd><input class="slider" type="range" min="0" max="1" step="0.01" value="0.5" name="param_c" /></dd>

    <dt>d: <span id="param_d"></span></dt>
    <dd><input class="slider" type="range" min="0" max="0.2" step="0.001" value="0.1" name="param_d"/></dd>
</dl>
</script>
{% endblock %}